<!-- <h1>making first change</h1>
<h2>I am learning {{title}}</h2>
<table>
<h2>Name :{{name}}</h2>
<h2>Number</h2>
<h3>a= {{d1}}</h3>
<h3>b ={{d2}}</h3>
<h3>sum of a and b  : {{d1+d2}}</h3>
</table>
<br><br><br>
<h2>New Component & Function calling</h2>
<app-click-event></app-click-event> -->
<!-- <app-counter-application></app-counter-application> -->
 <!-- <app-events></app-events> -->

 <!-- <app-input-feid></app-input-feid> -->

 <!-- <app-control-flow></app-control-flow> -->
 <!-- <app-switch-case></app-switch-case> -->
  <!-- <app-for-loop></app-for-loop> -->
   <!-- <app-signals></app-signals> -->
    <!-- <app-effect></app-effect>
      -->
    <!-- <app-contextual-variables></app-contextual-variables>
      -->
    <!-- <app-two-way-binding></app-two-way-binding> -->
     <app-to-do-list></app-to-do-list>