<!-- <h1>Welcome {{userName}}</h1> -->
<form [formGroup]="profileFormGroup" (ngSubmit)="submitData()">
    <input type="text" placeholder="enter name " formControlName="name">
    <input type="password" placeholder="enter password" formControlName="pswd">
    <input type="email" placeholder="enter email " formControlName="email">
    <input type="submit" value="submit">
    <input type="button" (click)="setData()" value="update">
</form>

<h3>{{profileFormGroup.value.name}}</h3>
<h3>{{profileFormGroup.value.email}}</h3>
<h3>{{profileFormGroup.value.pswd}}</h3>