<h3>Displaying User by using index </h3>

<h1>{{users[0]}}</h1>
<h1>{{users[1]}}</h1>
<h1>{{users[2]}}</h1>
<h1>{{users[3]}}</h1>
<hr>
<h3>Displaying User by using For Loop</h3>
@for (student of students; track student.name; let id=$index) {
    <h1>
        Id : {{id+1}}
        Name : <span>{{student.name}}, </span>
        Age : <span>{{student.age}},  </span>
        Email : <span>{{student.email}}</span>
        <button (click)="getUserName(student.name,student.email)">get User Name</button>
    </h1>
}